<ion-header>
  <ion-toolbar>
      <ion-button (click)="goBack()" fill="clear" size="small" class="back_btn">
        <ion-icon slot="start" name="chevron-back"></ion-icon>
        Back
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div" style="padding: 10px;">

    <div *ngIf="notifyList === 0">
      <img style="margin-top: 40%; margin-left: 15%;" src="assets/imgs/notify.png">
      <p style="margin-top: 0%; margin-left: 25%;">You have no notifications!</p>
    </div>

    <div *ngIf="notifyList != 0">
    <div *ngIf="i===0">
      <ion-item>
        <ion-label>Notifications</ion-label>
        <ion-badge color="success">{{notifyLength}}</ion-badge>
      </ion-item>
  <br>

      <div style="background-color: aquamarine; border: 10px; border-radius: 20px;" class="address_box" *ngFor="let item of notifyList;">
        <ion-label class="date_lbl">{{item.date}} {{item.time}}</ion-label>
        <ion-label class="simp_lbl">
            {{item.msg}}
        </ion-label>
    </div>
    </div>
    </div>


  </div>
</ion-content>
