<ion-content>
  <div class="main_content_div" >
    <!-- <img src='https://vivekdhiman.engineer/api/{{items.img}}'> -->
      <div  style="background-color:whitesmoke;">
          <div class="icn_flex">
              <ion-icon name="chevron-back" style="font-size: 30px;" (click)="goToBack()"></ion-icon>
              <!-- <ion-icon *ngIf="status == 0" name="heart-outline" style="font-size: 25px; color: black" (click)="updateHeart(items.id)"></ion-icon>
              <ion-icon *ngIf="status == 1" name="heart" style="font-size: 25px; color: red" (click)="updateHeart(items.id)"></ion-icon> -->
          </div>
          <div class="back_image">
            <ion-card color="success" *ngFor="let item of orderList">
              <ion-card-header>
                <ion-card-title style="font-weight: bold;">Payment Success <ion-icon name="checkmark-circle"></ion-icon></ion-card-title>
                <ion-card-subtitle>payment id: {{item.payid}}</ion-card-subtitle>
                <ion-card-subtitle>User id: {{item.uid}}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content style="font-weight: bold;">
                <ion-badge color="primary">₹ {{item.total}}/-</ion-badge>
              </ion-card-content>
            </ion-card>
          </div>

      </div>

      <div class="content_div" *ngFor="let item of orderList">
        <ion-item>
          <ion-label style="font-weight: bold;">#{{oid}}</ion-label>
          <ion-badge color="danger">{{stat}}</ion-badge>
        </ion-item>

        <ion-card>
          <ion-card-header>
            <ion-card-title><ion-item>
              <ion-label style="font-weight: bold;">Products</ion-label>
              <ion-badge color="warning">{{plength}}</ion-badge>
            </ion-item></ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            <ion-list style="background-color: aquamarine;">
              <ion-item *ngFor="let p of plist">
                <ion-thumbnail slot="start">
                  <img alt="product 1" src="https://vivekdhiman.engineer/api/{{p.img}}" />
                </ion-thumbnail>
                <ion-label>{{p.names}}</ion-label><ion-card-subtitle>{{p.color}} | {{p.size}}</ion-card-subtitle>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

          <ion-card color="success" *ngFor="let item of accountInfo">
            <ion-card-header>
              <ion-card-title style="font-weight: bold;">Billing Details</ion-card-title>
              <ion-card-subtitle><ion-icon name="person"></ion-icon> {{item.name}}</ion-card-subtitle>
              <ion-card-subtitle><ion-icon name="call"></ion-icon> (+91) {{item.phno}}</ion-card-subtitle>
              <ion-card-subtitle><ion-icon name="mail"></ion-icon> {{item.email}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-icon name="location"></ion-icon> {{item.address}}
              <br>&emsp;&nbsp;{{item.city}}, {{item.state}}, {{item.pin}}
            </ion-card-content>
          </ion-card>
      </div>


  </div>
</ion-content>
